<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
        <link rel="stylesheet" href="message_style.css" />
    </head>
    <body>
<div class="container">
    <div class="content">
        <img src="Images/Warning.svg">
        <div class="text"><%= text %></div>
        <a href="/home">CONTINUE</a>
    </div>
</div>
</body>
</html>