<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link rel="stylesheet" href="form_style.css" />
</head>
<body>
    <div class="section">
        <div class="logo"><a href="/home" style="text-decoration: none;color: #FFFFFF;">LOGO</a></div>
    <div class="container">
    <div class="form-container">
        <div class="form">
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="email"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Login"/>
</form>

<div class="google">Or Login with google</div>
<a class="google-signin" href="/google">
    <img src="Images/icons8-google.svg"/>
</a>
</div>
</div>
</div>
</div>
</body>
</html>
