
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
        <link rel="stylesheet" href="home_style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
        <div class="logo"><a href="/home" style="text-decoration: none;color: #FFFFFF;">LOGO</a></div>
        <div class="navbar">
        <a href="/home3" style="text-decoration: none;">signin</a>
        <a href="/home2" style="text-decoration: none;">signup</a>
        </div>
        <div class="content">
            <div class="text"><i class="fa fa-quote-left" style="font-size:24px"></i><br><span style="font-size:2em;color:#FFFFFF">Welcome,</span><br>Bus Transit App enables hassle free and  contactless
                experience for the commuter<i class="fa fa-quote-right" style="font-size:24px"></i></div>
            <a class="explore" href="/list"style="text-decoration: none;">Explore</a>
        </div>
        </div>
    </body>
</html>